.span_detalle1{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.infoDetallada{
    display: none;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    justify-items: center;
    text-align: center;
    width: 39%;
    margin-left: 15px;
}

.detallesBasicos{
    background-color: #0766AD;
    color: #DCF2F1;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    height: 80px;
    border-radius: 20px;
}
.infoBasica{
    background-color: #0766AD;
    color: #DCF2F1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    height: 80px;
    border-radius: 20px;
    transition: height .4s;
}


.arrow .flechaIcon{
    transform: rotate(180deg);
}

.flechaIcon{
    cursor: pointer;
    /* transition: .4s; */
}



.txtDetalle{
    color: #DCF2F1;
}

